input:-webkit-autofill {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
  padding: 0;
  margin: 0;
  /* background: #ddd; */
}

@font-face {
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
  font-family: main;
}

* {
  font-family: main;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus {
  border-color: #2bccb1;
}
